<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filmgan2">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.example.filmgan2.READ_DATABASE" />
    <permission android:name="com.example.filmgan2.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".Notification.AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <provider
            android:name=".provider.FavoriteContentProvider"
            android:authorities="com.example.filmgan2"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.example.filmgan2.READ_DATABASE"
            android:writePermission="com.example.filmgan2.WRITE_DATABASE" />

        <receiver android:name=".widget.StackWidgetFavoriteFilm">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.filmgan2.widget.StackWidgetFavoriteFilm.ACTION_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stack_widget_favorite_film_info" />
        </receiver>

        <activity android:name=".application.tvshow.search.SearchTvShowActivity" />
        <activity android:name=".application.film.search.SearchFilmActivity" />
        <activity android:name=".application.tvshow.DetailTVShow" />
        <activity android:name=".settings.localization.ChangeLanguage" />
        <activity
            android:name=".application.film.DetailFilm"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>